<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KNU Book Trade</title>
    <style>
        body {background-image: url("image/knu2.jpg"); background-size:cover; background-attachment:fixed;}
        h1 {color:blue; font: 25pt "맑은 고딕"; text-align: center; mrgin: 3px;}
        button {text-align: center; margin: 3px; padding: 3px; }
        #center {border: 1px solid black; padding: 50px; margin: 50px; }
    </style>
</head>
<body>
<h1><strong>Book Trade</strong></h1>
<div class="container">
    <div id="center">
        <form action="/member/in" method="post">
            <div class="form-group">
                <label for="mail">&nbsp메&nbsp&nbsp&nbsp&nbsp일&nbsp</label>
                <input type="text" id="mail" name="mail">
                <br>
                <label for="pass">비밀번호</label>
                <input type="password" id="pass" name="pass">
                <p>
                <button type="submit">로그인</button>
                <button type="button" onclick="location.href='/member/new'">회원등록</button>
                </p>
            </div>
        </form>

    </div>
</div>
</body>
</html>
