<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 등록</title>
    <style>
    body {background-image: url("../image/knu2.jpg"); background-size:cover; background-attachment:fixed;}
    h1 {color:blue; font: 25pt "맑은 고딕"; text-align: center; mrgin: 3px;}
    #form {margin: 3px; padding: 3px;}
    </style>
</head>
<body>
<h1><a href="/books/main"><strong>Book Trade</strong></a></h1>
<form action="/books/new" method="post">
    <div id="form" class="form-group">
        <label for="name">제목</label>
        <input type="text" id="name" name="name" placeholder="제목을 입력하세요" required>

        <label for="publisher">저자</label>
        <input type="text" id="publisher" name="publisher" placeholder="저자명을 입력하세요" required>

        <label for="price">가격</label>
        <input type="text" id="price" name="price" placeholder="희망 가격을 입력하세요" required>

    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>